@model IEnumerable<DataStructures.Market>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Investing Microservices Example</h1>
</div>

<div>
    <h3 class="display-6">Markets</h3>
    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        @foreach (var market in Model)
            {
                <tr>
                    <td>@market.ID</td>
                    <td>@market.Name</td>
                    <td><a href="/">View</a></td>
                </tr>
            }
    </table>
</div>

