@model IEnumerable<ExternalDataStructures.MarketView>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Investing Microservices Example</h1>
</div>

<div>
    <div id="MarketTable">
        <h3 class="display-6">Markets</h3>
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            @foreach (var market in Model)
            {
                <tr>
                    <td>@market.MarketData.ID</td>
                    <td>@market.MarketData.Name</td>
                    <td><a href="Home/Market?marketName=@market.MarketData.Name">View</a></td>
                </tr>
            }
        </table>
    </div>
</div>

